@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    letter-spacing: 2px;
    -webkit-tap-highlight-color: transparent;
}
.head,
.player-turn {
    text-align: center;
}
.player-turn {
    font-size: 20px;
    color: blue;
    font-weight: bolder;
}
.tic-tac-toe {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
}

td[data-cell="0"] {
    border-left: none;
    border-top: none;
}
td[data-cell="1"] {
    border-top: none;
}
td[data-cell="2"] {
    border-right: none;
    border-top: none;
}
td[data-cell="3"] {
    border-left: none;
}
td[data-cell="5"] {
    border-right: none;
}
td[data-cell="6"] {
    border-left: none;
    border-bottom: none;
}
td[data-cell="7"] {
    border-bottom: none;
}
td[data-cell="8"] {
    border-right: none;
    border-bottom: none;
}
table {
    border-collapse: collapse;
}
td {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}
.overlay {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    top: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: fixed;
    display: none;
    color: white;
}
.reset-game,
.reset-score {
    font-size: 30px;
    padding: 10px;
    background: green;
    color: white;
    cursor: pointer;
    margin: 30px;
}
.reset-score {
    background: orangered;
}
p {
    font-size: 30px;
    margin-top: 20px;
}
.player1-score {
    color: lightgreen;
}
.player2-score {
    color: orangered;
}
.winner {
    color: yellow;
}
@keyframes blink {
    from {
        background: white;
    }
    to {
        background: lightblue;
    }
}
@keyframes draw-cell-blink {
    from {
        background: white;
    }
    to {
        background: coral;
    }
}
.cell-blink {
    background: lightblue;
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.draw-cell-blink {
    background: coral;
    animation-name: draw-cell-blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
